[Unit]
Description=Boot custom actions
After=network-online.target
Wants=network-online.target
DefaultDependencies=no

[Service]
Type=oneshot
User=playnix
Group=playnix
ExecStart=/usr/local/bin/boot-custom-actions.sh
RemainAfterExit=yes
StandardOutput=journal+console
StandardError=journal+console

[Install]
RequiredBy=display-manager.service